<footer id="footer">
	<ul>
		<li>
			<a href="">Obra</a>
		</li>
		<li>
			<a href="">Salas</a>			
		</li>
		<li>
			<a href="">Mídia</a>
		</li>
		<li>
			<a href="">Fotos</a>
		</li>
	</ul>
	<a class="button">Próximo</a>
</footer>