<div id="financial" class="section" ng-class="{'show':sectionTab==='financial'}">
	<div class="left">
		<div class="top">
			<h1>Lajeado 167</h1>
			<a class="pdf">Download PDF</a>
		</div>
		<table>
			<thead>
				<th>Período</th>
				<th>lalala</th>
				<th> Valor Parcela em INCSS'S</th>
				<th>Parcela</th>
				<th>Pago</th>
				<th>Vencimento</th>
			</thead>
			<tbody>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
				<tr>
					<td>Mar</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
					<td>R$113.500,00</td>
				</tr>
			</tbody>
			<tfoot class="total">
				<tr>
					<td>Total</td>
					<td colspan="2">R$678.000,00</td>
					<td>R$260.000,00</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="right">
		<h2>Dados Bancários:</h2>
		<p>Dados Bancários:</p>
		<p>Dados Bancários:</p>
		<p>Dados Bancários:</p>
		<p>Dados Bancários:</p>
	</div>
</div>