<div id="login" class="section" ng-class="{'show':sectionTab==='login'}">
	<div class="center-box">
		<a class="logo-login"></a>
		<form action="controllers/login.php" method="POST">
			<input type="text" name="email" required placeholder="E-mail">
			<input type="text" name="cpf" required placeholder="CPF">
			<button class="enter" ng-click="sectionTab = 'calendar'">Entrar</button>
		</form>
	</div>
</div>