html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background: #fff;
  font-family: 'Open Sans';
}
body #content {
  padding-top: 70px;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.image-box {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.image-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
}
.vertical-align {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.center-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
h1.title {
  font-size: 24px;
  font-weight: 300;
  color: #687391;
  text-align: center;
  margin-bottom: 60px;
}
h2.subtitle {
  font-size: 16px;
  color: #687391;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 60px;
}
.button {
  position: absolute;
  top: 250px;
  display: block;
  left: 60%;
  background: #42a4a3;
  color: #fff;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  display: block;
  margin-top: 20px;
  border: 0;
  font-size: 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
select {
  margin-bottom: 18px;
  background: #f1f1f1;
  border-color: #acacac;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #3e3e3e;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans';
  padding: 0 10px;
}
table {
  margin: 0 auto;
}
table th {
  background: #777d8b;
  text-align: center;
  padding: 20px;
  color: #fff;
}
table th:first-child {
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
table th:last-child {
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
table td {
  text-align: center;
  padding: 23px 50px;
  border-bottom: 1px solid #e4e7ef;
  background: #efeff7;
  color: #9099b2;
  font-size: 14px;
}
table td a {
  text-decoration: none;
  color: #9099b2;
  font-weight: 500;
}
table td:last-child a {
  color: #ef0f0f;
}
input,
textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background: #e4e7ef;
  color: #777d8b;
  padding: 0 10px;
  font-family: 'Open Sans';
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.file-bg {
  width: 220px;
  display: block;
  background: #e4e7ef;
  border: 1px solid #c9ccd6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  height: 35px;
  margin-bottom: 15px;
}
.file-bg input {
  background: transparent !important;
  border-color: transparent !important;
  position: relative;
  left: -40px;
  width: 100%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '';
  display: inline-block;
  background: url("../img/upload.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 20px;
  height: 20px;
  border: 0;
  top: 3px;
  position: absolute;
  right: -35px;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.custom-file-input:hover::before {
  border-color: #000;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#header {
  height: 70px;
  background: #2b2b2b;
  color: #fff;
  font-family: 'Open Sans';
  position: relative;
  width: 100%;
  z-index: 100;
  zoom: 1;
}
#header:before,
#header:after {
  content: "";
  display: table;
}
#header:after {
  clear: both;
}
#header .ico-dropdown {
  width: 8px;
  height: 8px;
  background: url("../img/arrow-down.png") no-repeat center;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
  cursor: pointer;
}
#header a {
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  display: block;
  font-size: 12px;
}
#header .menu {
  float: left;
}
#header .menu li {
  padding: 0;
  width: 150px;
}
#header ul {
  display: inline-block;
}
#header ul li {
  position: relative;
  display: inline-block;
  line-height: 80px;
  padding: 0 30px;
  text-align: center;
}
#header ul li:hover .dropdown {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  top: 70px;
  z-index: 9999;
}
#header ul li .dropdown {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: 250ms all ease;
  -moz-transition: 250ms all ease;
  -o-transition: 250ms all ease;
  -ms-transition: 250ms all ease;
  transition: 250ms all ease;
  visibility: hidden;
}
#header ul li .dropdown li {
  width: 100%;
  padding: 0;
  text-align: center;
  line-height: 20px;
}
#header ul li .dropdown li a {
  display: block;
}
#header .logo {
  display: block;
  width: 200px;
  height: 70px;
  margin-right: 30px;
  float: left;
  background: url("../img/logo.jpg") no-repeat center;
}
#header .nav {
  float: right;
}
#header .nav li:last-child {
  margin-right: 0;
}
#header .nav li a:hover:before,
#header .nav li a.active:before {
  width: 100%;
}
#header .nav li a:before {
  width: 0;
  height: 5px;
  background: #42a4a3;
  position: absolute;
  -webkit-transition: 150ms all ease;
  -moz-transition: 150ms all ease;
  -o-transition: 150ms all ease;
  -ms-transition: 150ms all ease;
  transition: 150ms all ease;
  bottom: 0;
  display: block;
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#header .user {
  float: right;
  margin-left: 100px;
  margin-right: 20px;
}
#login {
  background: url("../img/login-bg.png");
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#login .center-box {
  width: 350px;
}
#login .logo-login {
  width: 173px;
  height: 35px;
  display: block;
  background: url("../img/logo-black.png") no-repeat center;
  margin: 0 auto 20px;
}
#login form {
  width: 100%;
}
#login form input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding: 0 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
#login form button {
  display: block;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background: #42a4a3;
  border: 0;
}
#financial {
  padding: 150px 0;
  zoom: 1;
}
#financial:before,
#financial:after {
  content: "";
  display: table;
}
#financial:after {
  clear: both;
}
#financial h2 {
  color: #687391;
  font-weight: 800;
  font-size: 20px;
}
#financial .title {
  padding-right: 320px;
}
#financial .left {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 320px;
  zoom: 1;
}
#financial .left:before,
#financial .left:after {
  content: "";
  display: table;
}
#financial .left:after {
  clear: both;
}
#financial .left .title-pdf {
  width: 100%;
  background: #f00;
  margin-bottom: 30px;
  zoom: 1;
}
#financial .left .title-pdf:before,
#financial .left .title-pdf:after {
  content: "";
  display: table;
}
#financial .left .title-pdf:after {
  clear: both;
}
#financial .left .title-pdf .title {
  float: left;
  margin: 0;
  font-size: 32px;
}
#financial .left .title-pdf .download-pdf {
  float: right;
  margin-right: 40px;
  background: #42a4a3;
  cursor: pointer;
  padding: 13px 20px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
#financial .left .tasks {
  width: 20%;
  float: left;
}
#financial .left .tasks select {
  margin-bottom: 18px;
  width: 100%;
  height: 35px;
  background: #e4e7ef;
  border-color: #c9ccd6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #687693;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
}
#financial .left .tasks li {
  color: #687391;
  font-size: 14px;
  line-height: 2.9;
}
#financial .left .progress-bar-container li {
  line-height: 2.5;
}
#financial .left .percents {
  line-height: 2.3;
  margin-bottom: 20px;
}
#financial .left .percents li {
  display: inline-block;
  width: 8.5%;
  color: #687693;
  text-align: left;
}
#financial .left .progress-container {
  width: 640px;
  margin-left: 50px;
  float: left;
}
#financial .side-bar {
  text-align: center;
  right: 0;
  top: 0;
  position: absolute;
  width: 320px;
  height: 100%;
  background: #f9f9fa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 50px;
  border-left: 2px solid #dbdee6;
}
#financial .side-bar .info {
  text-align: left;
}
#financial .side-bar .info h2 {
  margin-bottom: 30px;
  color: #687391;
}
#financial .side-bar .info p {
  margin-bottom: 15px;
  font-size: 14px;
  color: #9099b2;
}
#financial .side-bar .info p:last-child {
  margin-bottom: 0;
}
#financial .side-bar .progress-circle {
  margin-bottom: 100px;
  margin-top: 25px;
}
#financial .side-bar .text h2 {
  margin-bottom: 35px;
}
#financial .side-bar .text p {
  height: 130px;
  overflow-y: scroll;
  width: 100%;
  color: #687391;
  font-size: 14px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2;
}
#financial .side-bar .text ::-webkit-scrollbar {
  width: 4px;
}
#financial .side-bar .text ::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}
#financial .side-bar .text ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #42a4a3;
}
#financial .side-bar .text ::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
#financial table {
  margin: 0 auto;
}
#financial table th {
  background: #777d8b;
  text-align: center;
  padding: 20px;
  color: #fff;
}
#financial table th:first-child {
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
#financial table th:last-child {
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
#financial table td {
  text-align: center;
  padding: 15px 50px;
  border-bottom: 1px solid #e4e7ef;
  background: #efeff7;
  color: #9099b2;
}
#financial table td a {
  text-decoration: none;
  color: #9099b2;
  font-weight: 600;
}
#financial table .footer td {
  background: #42a4a3;
  text-align: center;
  padding: 20px;
  color: #fff;
}
#financial table .footer td:first-child {
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
#financial table .footer td:last-child {
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
#calendar-images {
  position: relative;
  width: 100%;
  padding: 150px 0 0;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -ms-transition-delay: 2s;
  transition-delay: 2s;
  -webkit-transition: 2s all ease;
  -moz-transition: 2s all ease;
  -o-transition: 2s all ease;
  -ms-transition: 2s all ease;
  transition: 2s all ease;
  zoom: 1;
}
#calendar-images:before,
#calendar-images:after {
  content: "";
  display: table;
}
#calendar-images:after {
  clear: both;
}
#calendar-images.hidden {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -ms-transition-delay: 2s;
  transition-delay: 2s;
  -webkit-transition: 2s all ease;
  -moz-transition: 2s all ease;
  -o-transition: 2s all ease;
  -ms-transition: 2s all ease;
  transition: 2s all ease;
}
#calendar-images .thumb .image-box {
  width: 100px;
  height: 80px;
}
#calendar-images .top-content {
  width: 835px;
  margin: 0 auto;
}
#calendar-images .wrapper {
  zoom: 1;
  position: relative;
}
#calendar-images .wrapper:before,
#calendar-images .wrapper:after {
  content: "";
  display: table;
}
#calendar-images .wrapper:after {
  clear: both;
}
#calendar-images .months {
  float: left;
}
#calendar-images .months li {
  text-align: right;
  width: 100%;
  font-size: 12px;
  line-height: 40px;
  margin-bottom: 10px;
}
#calendar-images .months li:last-child {
  margin-bottom: 0;
}
#calendar-images .months li a {
  color: #3e3e3e;
  padding: 0px 15px;
  display: block;
  width: 130px;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 150ms all ease;
  -moz-transition: 150ms all ease;
  -o-transition: 150ms all ease;
  -ms-transition: 150ms all ease;
  transition: 150ms all ease;
  border: 1px solid transparent;
}
#calendar-images .months li a:hover,
#calendar-images .months li a.active {
  background: #f1f1f1;
  border-color: #acacac;
}
#calendar-images .customNavigation {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 10;
  margin-top: -55px;
}
#calendar-images .customNavigation .prevpic {
  position: absolute;
  left: 20px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -99999px;
  background: url("../img/image-arrow-prev.png");
  height: 32px;
  width: 19px;
  display: block;
}
#calendar-images .customNavigation .nextpic {
  position: absolute;
  right: 20px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -99999px;
  background: url("../img/image-arrow-next.png");
  height: 32px;
  width: 19px;
  display: block;
}
#calendar-images .controls-thumbs .thumbs-container {
  position: absolute;
  right: -120px;
  top: 0;
}
#calendar-images .controls-thumbs .thumbs-container .image-box {
  width: 120px;
  height: 85px;
  background: #808080;
  display: block;
  border: 2px solid transparent;
  -webkit-transition: 150ms all ease;
  -moz-transition: 150ms all ease;
  -o-transition: 150ms all ease;
  -ms-transition: 150ms all ease;
  transition: 150ms all ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
}
#calendar-images .controls-thumbs .thumbs-container .image-box:last-child {
  margin-bottom: 0;
}
#calendar-images .controls-thumbs .thumbs-container .image-box.active {
  background: #00f;
  border-color: #f00;
}
#calendar-images .top-content {
  zoom: 1;
}
#calendar-images .top-content:before,
#calendar-images .top-content:after {
  content: "";
  display: table;
}
#calendar-images .top-content:after {
  clear: both;
}
#calendar-images .bottom {
  width: 570px;
  margin: 0 auto;
  color: #687391;
  font-family: 'Open Sans';
}
#calendar-images .bottom h2 {
  margin: 20px 0 13px;
  font-size: 16px;
  font-weight: 700;
}
#calendar-images .bottom p {
  line-height: 1.2;
  font-size: 12px;
}
#calendar-images .images {
  zoom: 1;
  float: left;
  position: relative;
}
#calendar-images .images:before,
#calendar-images .images:after {
  content: "";
  display: table;
}
#calendar-images .images:after {
  clear: both;
}
#calendar-images .images .highlight {
  float: left;
  margin: 0 10px;
  width: 570px;
}
#calendar-images .images .highlight .image-box {
  width: 100%;
  height: 400px;
}
#calendar-images .images .highlight .image-box img,
#calendar-images .images .highlight .image-box .intense {
  cursor: url("../img/plus_cursor.png") 25 25, auto;
}
#calendar-images .images .thumbs-box {
  float: left;
}
#calendar-images .images .thumbs-box .thumb {
  margin-bottom: 10px;
}
#calendar-images .images .thumbs-box .thumb img {
  cursor: pointer;
}
#calendar-images .images .thumbs-box .thumb:last-child {
  margin: 0;
}
#slide-images {
  position: relative;
  width: 100%;
  height: 100vh;
  display: none;
  zoom: 1;
}
#slide-images:before,
#slide-images:after {
  content: "";
  display: table;
}
#slide-images:after {
  clear: both;
}
#slide-images .wrapper {
  zoom: 1;
  position: relative;
}
#slide-images .wrapper:before,
#slide-images .wrapper:after {
  content: "";
  display: table;
}
#slide-images .wrapper:after {
  clear: both;
}
#slide-images .carousel {
  width: 500px;
  margin: 0 auto;
}
#slide-images .carousel .owl-controls {
  position: absolute;
  top: 175px;
  width: 100%;
}
#slide-images .carousel .owl-controls .owl-prev {
  position: absolute;
  left: -50px;
}
#slide-images .carousel .owl-controls .owl-next {
  position: absolute;
  right: -50px;
}
#slide-images .carousel .owl-controls .owl-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -360px;
}
#slide-images .carousel .owl-controls .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #808080;
  display: block;
  float: left;
  margin-right: 10px;
}
#slide-images .carousel .owl-controls .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
#slide-images .carousel .owl-controls .owl-dots .owl-dot.active {
  background: #00f;
}
#slide-images .top-content {
  zoom: 1;
}
#slide-images .top-content:before,
#slide-images .top-content:after {
  content: "";
  display: table;
}
#slide-images .top-content:after {
  clear: both;
}
#slide-images .bottom {
  width: 500px;
  margin: 0 auto;
}
#slide-images .bottom h2 {
  margin: 15px 0;
}
#slide-images .images {
  zoom: 1;
}
#slide-images .images:before,
#slide-images .images:after {
  content: "";
  display: table;
}
#slide-images .images:after {
  clear: both;
}
#slide-images .images .highlight {
  margin: 0 auto;
  width: 500px;
  zoom: 1;
}
#slide-images .images .highlight:before,
#slide-images .images .highlight:after {
  content: "";
  display: table;
}
#slide-images .images .highlight:after {
  clear: both;
}
#slide-images .images .highlight .image-box {
  width: 100%;
  height: 350px;
}
#slide-images .images .thumbs-box {
  float: left;
}
#slide-images .images .thumbs-box .thumb {
  margin-bottom: 10px;
}
#slide-images .images .thumbs-box .thumb img {
  cursor: pointer;
}
#slide-images .images .thumbs-box .thumb:last-child {
  margin: 0;
}
#photos-new {
  padding: 100px 0;
  background: #fff;
}
#photos-new label {
  float: left;
  width: 50%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#photos-new label .title {
  display: block;
  font-size: 14px;
}
#photos-new .input-content {
  display: block;
  margin-bottom: 10px;
  width: 700px;
  margin: 0 auto;
  zoom: 1;
}
#photos-new .input-content:before,
#photos-new .input-content:after {
  content: "";
  display: table;
}
#photos-new .input-content:after {
  clear: both;
}
#photos-new .input-content.date {
  margin-bottom: 30px;
}
#photos-new input[type=text],
#photos-new select {
  background: #e4e7ef;
  border: 0;
  outline: none;
  height: 40px;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 10px;
  position: relative;
  margin: 10px 0;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #777d8b;
}
#photos-new input[type=file] {
  margin: 15px 0;
  background: #e4e7ef;
  padding: 8px 10px;
}
#photos-new input {
  display: block;
}
#photos-new .enter {
  background: #42a4a3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  float: right;
  padding: 15px 20px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
#photos-new .file-bg {
  margin: 10px 0 15px;
}
#photos-new .file-bg input {
  margin: 0;
}
#photos-new .bottom h2 {
  margin: 15px 0;
}
#user-new {
  padding: 150px 0;
  text-align: center;
}
#user-new .user-new-content {
  width: 700px;
  margin: 0 auto;
}
#user-new input,
#user-new select {
  background: #e4e7ef;
  border: 0;
  outline: none;
  height: 35px;
  line-height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  color: #777d8b;
}
#user-new .enter {
  background: #42a4a3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  padding: 9px 20px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}
#user-new form {
  margin-bottom: 20px;
  zoom: 1;
}
#user-new form:before,
#user-new form:after {
  content: "";
  display: table;
}
#user-new form:after {
  clear: both;
}
#user-new label {
  display: inline-block;
  width: 50%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
}
#user-new label span {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #6f7d8b;
  margin-bottom: 10px;
}
#user-new label input {
  display: block;
}
#user-new .add-more {
  background: #42a4a3;
  color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  display: block;
  margin-top: 20px;
  border: 0;
  font-weight: 600;
  font-size: 24px;
}
#financial-new {
  padding: 150px 0;
  text-align: center;
}
#financial-new .user-new-content {
  width: 500px;
  margin: 0 auto;
}
#financial-new input,
#financial-new select {
  outline: none;
  height: 35px;
  line-height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #777d8b;
  display: block;
  position: relative;
  margin: 0 auto 10px;
}
#financial-new h2.subtitle {
  margin-bottom: 30px;
}
#financial-new .file-bg {
  background: #f00;
  width: 220px;
  display: block;
  background: #e4e7ef;
  border: 1px solid #c9ccd6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  height: 35px;
  margin-bottom: 15px;
}
#financial-new .file-bg input {
  background: transparent;
  border-color: transparent;
  position: relative;
}
#financial-new .enter {
  background: #42a4a3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  padding: 9px 20px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}
#financial-new form {
  margin-bottom: 20px;
}
#financial-new label {
  display: inline-block;
  margin-right: 5px;
}
#financial-new label span {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #6f7d8b;
  margin-bottom: 10px;
}
#financial-new label input {
  display: block;
}
#financial-new .add-more {
  background: #42a4a3;
  color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  display: block;
  margin-top: 20px;
  border: 0;
  font-weight: 600;
  font-size: 24px;
}
#financial-new .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
#financial-new .custom-file-input::before {
  content: '';
  display: inline-block;
  background: url("../img/upload.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 20px;
  height: 20px;
  border: 0;
  top: 3px;
  position: absolute;
  right: -35px;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
}
#financial-new .custom-file-input:hover::before {
  border-color: #000;
}
#financial-new .custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#room-new {
  padding: 150px 0;
  text-align: center;
  position: relative;
}
#room-new .add-more {
  position: absolute;
  top: 250px;
  right: 60%;
}
#room-new .remove-input {
  position: absolute;
  top: 300px;
  right: 60%;
}
#room-new .save {
  position: absolute;
  top: 250px;
  display: block;
  left: 60%;
  background: #42a4a3;
  color: #fff;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  display: block;
  margin-top: 20px;
  border: 0;
  font-size: 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#room-new .user-new-content {
  width: 500px;
  margin: 0 auto;
}
#room-new .repeat {
  display: block;
  margin-bottom: 15px;
}
#room-new .repeat:last-child {
  margin-bottom: 0;
}
#room-new input,
#room-new select {
  background: #dbe7ed;
  border: 0;
  outline: none;
  height: 35px;
  line-height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #777d8b;
  width: 250px;
  margin: auto;
}
#room-new .enter {
  background: #42a4a3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  padding: 9px 20px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}
#room-new form {
  margin: auto;
}
#room-new label {
  display: inline-block;
  margin-right: 5px;
}
#room-new label span {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #6f7d8b;
  margin-bottom: 10px;
}
#room-new label input {
  display: block;
}
#room-new .add-more,
#room-new .remove-input {
  background: #42a4a3;
  color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  display: block;
  margin-top: 20px;
  border: 0;
  font-weight: 600;
  font-size: 24px;
}
#statistics {
  zoom: 1;
}
#statistics:before,
#statistics:after {
  content: "";
  display: table;
}
#statistics:after {
  clear: both;
}
#statistics h2 {
  color: #687391;
  font-size: 20px;
}
#statistics .left {
  float: left;
  width: 100%;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 320px;
  zoom: 1;
}
#statistics .left:before,
#statistics .left:after {
  content: "";
  display: table;
}
#statistics .left:after {
  clear: both;
}
#statistics .left .title-pdf {
  width: 100%;
  margin-bottom: 30px;
  zoom: 1;
}
#statistics .left .title-pdf:before,
#statistics .left .title-pdf:after {
  content: "";
  display: table;
}
#statistics .left .title-pdf:after {
  clear: both;
}
#statistics .left .title-pdf .title {
  float: left;
  margin: 0;
  font-size: 32px;
}
#statistics .left .title-pdf .download-pdf {
  float: right;
  margin-right: 40px;
  background: #42a4a3;
  cursor: pointer;
  padding: 13px 20px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
#statistics .left .tasks {
  width: 20%;
  float: left;
}
#statistics .left .tasks select {
  width: 100%;
  height: 35px;
}
#statistics .left .tasks li {
  color: #687391;
  font-size: 14px;
  line-height: 2.9;
}
#statistics .left .progress-bar-container li {
  line-height: 2.5;
}
#statistics .left .progress-bar-container .progress-bar {
  z-index: 6;
  position: relative;
}
#statistics .left .percents {
  line-height: 2.3;
  margin-bottom: 20px;
  zoom: 1;
}
#statistics .left .percents:before,
#statistics .left .percents:after {
  content: "";
  display: table;
}
#statistics .left .percents:after {
  clear: both;
}
#statistics .left .percents li {
  float: left;
  width: 8.53%;
  color: #687693;
  position: relative;
  text-align: left;
}
#statistics .left .percents li:first-child:after {
  display: none;
}
#statistics .left .percents li:first-child:after {
  left: -1;
}
#statistics .left .percents li:after {
  position: absolute;
  left: 0px;
  top: 30px;
  border-right: 1px dashed #e4e3e3;
  height: 542px;
  z-index: 5;
  width: 1px;
  content: '';
}
#statistics .left .progress-container {
  width: 700px;
  margin-left: 50px;
  float: left;
}
#statistics .side-bar {
  text-align: center;
  right: 0;
  top: 0;
  position: absolute;
  width: 320px;
  height: 100%;
  background: #f9f9fa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  border-left: 2px solid #dbdee6;
}
#statistics .side-bar .progress-circle-container {
  position: relative;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  width: 175px;
  margin: 0 auto;
}
#statistics .side-bar .progress-circle-container .percent-data {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-weight: 700;
  color: #687391;
}
#statistics .side-bar .progress-circle {
  margin-bottom: 100px;
  margin-top: 25px;
}
#statistics .side-bar .text h2 {
  margin-bottom: 35px;
}
#statistics .side-bar .text p {
  height: 130px;
  overflow-y: scroll;
  width: 100%;
  color: #687391;
  font-size: 14px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2;
}
#statistics .side-bar .text ::-webkit-scrollbar {
  width: 4px;
}
#statistics .side-bar .text ::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}
#statistics .side-bar .text ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #42a4a3;
}
#statistics .side-bar .text ::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
#statistics-new {
  zoom: 1;
}
#statistics-new:before,
#statistics-new:after {
  content: "";
  display: table;
}
#statistics-new:after {
  clear: both;
}
#statistics-new h2 {
  color: #687391;
  font-size: 20px;
}
#statistics-new select {
  width: 175px;
  height: 35px;
}
#statistics-new input {
  background: #e4e7ef;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #687693;
  outline: none;
  height: 30px;
  border: 0;
  width: 175px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#statistics-new .content {
  margin: 0 auto;
  width: 500px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
#statistics-new .content:before,
#statistics-new .content:after {
  content: "";
  display: table;
}
#statistics-new .content:after {
  clear: both;
}
#statistics-new .content .title-pdf {
  width: 100%;
  margin-bottom: 30px;
  zoom: 1;
}
#statistics-new .content .title-pdf:before,
#statistics-new .content .title-pdf:after {
  content: "";
  display: table;
}
#statistics-new .content .title-pdf:after {
  clear: both;
}
#statistics-new .content .title-pdf .title {
  float: left;
  margin: 0;
  font-size: 32px;
}
#statistics-new .content .title-pdf .download-pdf {
  float: right;
  margin-right: 40px;
  background: #42a4a3;
  cursor: pointer;
  padding: 13px 20px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
#statistics-new .content .tasks {
  float: left;
}
#statistics-new .content .tasks li {
  color: #687391;
  font-size: 14px;
  line-height: 3.5;
}
#statistics-new .content .percents {
  line-height: 2.3;
  margin-bottom: 20px;
}
#statistics-new .content .percents li {
  display: inline-block;
  width: 8.5%;
  color: #687693;
  text-align: left;
}
#statistics-new .content .progress-bar-container {
  margin-top: 9px;
}
#statistics-new .content .progress-bar-container li {
  margin-bottom: 18.5px;
}
#statistics-new .content .progress-container {
  margin-left: 50px;
  float: left;
}
#statistics-new .save {
  background: #42a4a3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  float: right;
  padding: 15px 20px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
#builds {
  padding: 150px 0;
  text-align: center;
}
#builds .builds-content {
  margin: 0 auto;
  width: 976px;
  zoom: 1;
}
#builds .builds-content:before,
#builds .builds-content:after {
  content: "";
  display: table;
}
#builds .builds-content:after {
  clear: both;
}
#builds .button {
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  margin-bottom: 10px;
  float: right;
}
#builds table {
  margin: 0 auto;
}
#builds table .footer td {
  background: #42a4a3;
  text-align: center;
  padding: 20px;
  color: #fff;
}
#builds table .footer td:first-child {
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
#builds table .footer td:last-child {
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
#rooms {
  padding: 150px 0;
  text-align: center;
}
#rooms .rooms-content {
  margin: 0 auto;
  width: 800px;
  zoom: 1;
}
#rooms .rooms-content:before,
#rooms .rooms-content:after {
  content: "";
  display: table;
}
#rooms .rooms-content:after {
  clear: both;
}
#rooms .button {
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  margin-bottom: 10px;
  float: right;
}
#rooms table {
  margin: 0 auto;
  width: 100%;
}
#rooms table .footer td {
  background: #42a4a3;
  text-align: center;
  padding: 20px;
  color: #fff;
}
#rooms table .footer td:first-child {
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
#rooms table .footer td:last-child {
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
#build-new {
  background: #fff;
  width: 100%;
  padding: 150px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#build-new .title {
  letter-spacing: 1px;
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 30px;
}
#build-new .build-box {
  width: 350px;
  margin: 0 auto;
}
#build-new form {
  width: 100%;
}
#build-new form input,
#build-new form textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  color: #777d8b;
  padding: 0 10px;
  font-family: 'Open Sans';
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#build-new form input.description,
#build-new form textarea.description {
  height: 150px;
  padding: 10px;
  resize: none;
}
#build-new form button {
  display: block;
  width: 100%;
  height: 40px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  background: #42a4a3;
  border: 0;
}
#footer {
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  zoom: 1;
  background: rgba(0,0,0,0.5);
}
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#footer:after {
  clear: both;
}
#footer ul {
  position: absolute;
  line-height: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#footer ul li {
  position: relative;
  float: left;
  display: block;
  margin-right: 30px;
}
#footer ul li:last-child {
  margin-right: 0;
}
#footer ul li:last-child:before {
  display: none;
}
#footer ul li:before {
  position: absolute;
  content: '';
  display: inline-block;
  background: url("../img/footer-arrow-ico.png") no-repeat center;
  width: 9px;
  height: 12px;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  font-size: 12px;
}
#footer .button {
  float: right;
}
#success-message {
  padding-top: 150px;
  text-align: center;
  color: #687391;
}
#success-message h1 {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 30px;
}
#success-message p {
  width: 200px;
  margin: 0 auto;
  font-size: 12px;
}
