#build-new
	background #fff
	width 100%
	padding 150px 0
	background-size cover
	.title
		letter-spacing 1px
		font-size 21px
		line-height 1.2
		margin-bottom 30px
	.build-box
		width 350px
		margin 0 auto
	form
		width 100%
		input,textarea
			width 100%
			height 40px
			margin-bottom 10px
			display block
			box-sizing border-box
			outline none
			color #777d8b
			padding 0 10px
			font-family 'Open Sans'
			border-radius 4px
			&.description
				height 150px
				padding 10px
				resize none
		button
			display block
			width 100%
			height 40px
			cursor pointer
			border-radius 4px
			color white
			background #42a4a3
			border 0