#calendar-images
	position relative
	width 100%
	padding 150px 0 0
	transition-delay 2s
	transition 2s all ease
	clearfix()
	&.hidden
		opacity 0
		visibility hidden
		transition-delay 2s
		transition 2s all ease
	.thumb
		.image-box
			width 100px
			height 80px
	.top-content
		width 835px
		margin 0 auto
	.wrapper
		clearfix()
		position relative
	.months
		float left
		li
			text-align right
			width 100%
			font-size 12px
			line-height 40px
			margin-bottom 10px
			&:last-child
				margin-bottom 0
			a
				color #3e3e3e
				padding 0px 15px
				display block
				width 130px
				text-decoration none
				text-align center
				border-radius 4px
				box-sizing border-box
				transition 150ms all ease
				border 1px solid transparent
				&:hover, &.active
					background #f1f1f1
					border-color #acacac
	.customNavigation
		position absolute
		top 50%
		width 100%
		z-index 10
		margin-top -55px
		.prevpic
			position absolute
			left 20px
			cursor pointer
			overflow hidden
			text-indent -99999px
			background url('../img/image-arrow-prev.png')
			height 32px
			width 19px
			display block
		.nextpic
			position absolute
			right 20px
			cursor pointer
			overflow hidden
			text-indent -99999px
			background url('../img/image-arrow-next.png')
			height 32px
			width 19px
			display block
	.controls-thumbs
		.thumbs-container
			position absolute
			right -120px
			top 0
			.image-box
				width 120px
				height 85px
				background grey
				display block
				border 2px solid transparent
				transition 150ms all ease
				box-sizing border-box
				margin-bottom 20px
				cursor pointer
				&:last-child
					margin-bottom 0
				&.active
					background blue
					border-color red
	.top-content
		clearfix()
	.bottom
		width 570px
		margin 0 auto
		color #687391
		font-family 'Open Sans'
		h2
			margin 20px 0 13px
			font-size 16px
			font-weight 700
		p
			line-height 1.2
			font-size 12px
	.images
		clearfix()
		float left
		position relative
		.highlight
			float left
			margin 0 10px
			width 570px
			.image-box
				width 100%
				height 400px
				img
				.intense
					cursor url('../img/plus_cursor.png') 25 25, auto
		.thumbs-box
			float left
			.thumb
				margin-bottom 10px
				img
					cursor pointer
				&:last-child
					margin 0