#financial-new
	padding 150px 0
	text-align center
	.user-new-content
		width 500px
		margin 0 auto
	input, select
		outline none
		height 35px
		line-height 35px
		box-sizing border-box
		padding 7px 10px
		border-radius 5px
		color #777d8b
		display block
		position relative
		margin 0 auto 10px
	h2
		&.subtitle
			margin-bottom 30px
	.file-bg
		background red
		width 220px
		display block
		background #e4e7ef
		border 1px solid #c9ccd6
		border-radius 5px
		margin 0 auto
		height 35px
		margin-bottom 15px
		input
			background transparent
			border-color transparent
			position relative
	.enter
		background #42a4a3
		border-radius 4px
		border 0
		padding 9px 20px
		color white
		text-transform uppercase
		outline none
		cursor pointer
		margin-left 10px
	form
		margin-bottom 20px
	label
		display inline-block
		margin-right 5px
		span
			display block
			text-align left
			font-size 14px
			color #6f7d8b
			margin-bottom 10px
		input
			display block
	.add-more
		background #42a4a3
		color white
		border-radius 100%
		width 40px
		height 40px
		line-height 40px
		text-align center
		cursor pointer
		outline none
		display block
		margin-top 20px
		border 0
		font-weight 600
		font-size 24px
	.custom-file-input::-webkit-file-upload-button
		visibility hidden
	.custom-file-input::before
		content ''
		display inline-block
		background url('../img/upload.png')
		background-size cover
		width 20px
		height 20px
		border 0
		top 3px
		position absolute
		right -35px
		outline none
		-webkit-user-select none
		cursor pointer
	.custom-file-input:hover::before
		border-color black
	.custom-file-input:active::before
		background -webkit-linear-gradient(top, #e3e3e3, #f9f9f9)