#financial
	padding 150px 0
	clearfix()
	h2
		color #687391
		font-weight 800
		font-size 20px
	.title
		padding-right 320px
	.left
		float left
		width 100%
		box-sizing border-box
		padding-right 320px
		clearfix()
		.title-pdf
			width 100%
			background red
			margin-bottom 30px
			clearfix()
			.title
				float left
				margin 0
				font-size 32px
			.download-pdf
				float right
				margin-right 40px
				background #42a4a3
				cursor pointer
				padding 13px 20px
				border-radius 6px
				color white
				text-transform uppercase
				font-size 12px
		.tasks
			width 20%
			float left
			select
				margin-bottom 18px
				width 100%
				height 35px
				background #e4e7ef
				border-color #c9ccd6
				border-radius 5px
				color #687693
				font-weight 700
				outline none
				cursor pointer
				padding 0 10px
			li
				color #687391
				font-size 14px
				line-height 2.9
		.progress-bar-container
			li
				line-height 2.5
		.percents
			line-height 2.3
			margin-bottom 20px
			li
				display inline-block
				width 8.5%
				color #687693
				text-align left
		.progress-container
			width 640px
			margin-left 50px
			float left
			
	.side-bar
		text-align center
		right 0
		top 0
		position absolute
		width 320px
		height 100%
		background #f9f9fa
		box-sizing border-box
		padding 0 50px
		border-left 2px solid #dbdee6
		.info
			text-align left
			h2
				margin-bottom 30px
				color #687391
			p
				margin-bottom 15px
				font-size 14px
				color #9099b2
				&:last-child
					margin-bottom 0
		.progress-circle
			margin-bottom 100px
			margin-top 25px
		.text
			h2
				margin-bottom 35px
			p
				height 130px
				overflow-y scroll
				width 100%
				color #687391
				font-size 14px
				padding 10px
				box-sizing border-box
				line-height 2
			::-webkit-scrollbar
				width 4px
			::-webkit-scrollbar-track
				background-color #d8d8d8
			::-webkit-scrollbar-thumb
				border-radius 5px
				background-color #42a4a3
			::-webkit-scrollbar-thumb:hover
				background-color #aaa
	table
		margin 0 auto
		th
			background #777d8b
			text-align center
			padding 20px
			color white
			&:first-child
				border-radius 5px 0 0 0
			&:last-child
				border-radius 0 5px 0 0
		td
			text-align center
			padding 15px 50px
			border-bottom 1px solid #e4e7ef
			background #efeff7
			color #9099b2
			a
				text-decoration none
				color #9099b2
				font-weight 600
		.footer
			td
				background #42a4a3
				text-align center
				padding 20px
				color white
				&:first-child
					border-radius 0 0 0 5px
				&:last-child
					border-radius 0 0 5px 0