#footer
	height 60px
	position fixed
	bottom 0
	width 100%
	clearfix()
	background rgba(0, 0, 0, 0.5)
	ul
		position absolute
		line-height 60px
		left 50%
		transform translateX(-50%)
		li
			position relative
			float left
			display block
			margin-right 30px
			&:last-child
				margin-right 0
				&:before
					display none
			&:before
				position absolute
				content ''
				display inline-block
				background url('../img/footer-arrow-ico.png') no-repeat center
				width 9px
				height 12px
				right -15px
				top 50%
				transform translateY(-50%)
			a
				text-decoration none
				text-transform uppercase
				color white
				display inline-block
				font-size 12px
	.button
		float right
	