#header
	height 70px;
	background #2b2b2b
	color white
	font-family 'Open Sans'
	position relative
	width 100%
	z-index 100
	clearfix()
	.ico-dropdown
		width 8px
		height 8px
		background url('../img/arrow-down.png') no-repeat center
		display inline-block
		position absolute
		top 50%
		transform translateY(-50%)
		right 5px
		cursor pointer
	a
		color white
		text-decoration none
		line-height 70px
		display block
		font-size 12px
	.menu
		float left
		li
			padding 0
			width 150px
	ul
		display inline-block
		li
			position relative
			display inline-block
			line-height 80px
			padding 0 30px
			text-align center
			&:hover
				.dropdown
					opacity 1
					visibility visible
					top 70px
					z-index 9999
			.dropdown
				position absolute
				left 0
				top 60px
				width 100%
				background rgba(0, 0, 0, 0.5)
				border-radius 0 0 5px 5px
				opacity 0
				transition 250ms all ease
				visibility hidden
				li
					width 100%
					padding 0
					text-align center
					line-height 20px
					a
						display block
	.logo
		display block
		width 200px
		height 70px
		margin-right 30px
		float left
		background url('../img/logo.jpg') no-repeat center
	.nav
		float right
		li
			&:last-child
				margin-right 0
			a
				&:hover, &.active
					&:before
						width 100%
				&:before
					width 0
					height 5px
					background $acqua
					position absolute
					transition 150ms all ease
					bottom 0
					display block
					content ''
					left 50%
					transform translateX(-50%)
	.user
		float right
		margin-left 100px
		margin-right 20px