#login
	background url('../img/login-bg.png')
	width 100%
	height 100vh
	background-size cover
	.center-box
		width 350px
	.logo-login
		width 173px
		height 35px
		display block
		background url('../img/logo-black.png') no-repeat center
		margin 0 auto 20px
	form
		width 100%
		input
			width 100%
			height 40px
			margin-bottom 10px
			display block
			box-sizing border-box
			outline none
			padding 0 10px
			border-radius 4px
			border 1px solid #ddd
		button
			display block
			width 100%
			height 40px
			border-radius 4px
			color white
			cursor pointer
			background #42a4a3
			border 0