#photos-new
	padding 100px 0
	background white
	label
		float left
		width 50%
		padding 0 10px
		box-sizing border-box
		.title
			display block
			font-size 14px
	.input-content
		display block
		margin-bottom 10px
		width 700px
		margin 0 auto
		clearfix()
		&.date
			margin-bottom 30px
	input[type=text], select
		background #E4E7EF
		border 0
		outline none
		height 40px
		line-height 40px
		box-sizing border-box
		padding 3px 10px
		position relative
		margin 10px 0
		width 100%
		border-radius 5px
		color #777d8b
	input[type=file]
		margin 15px 0
		background #E4E7EF
		padding 8px 10px
	input
		display block
	.enter
		background #42a4a3
		border-radius 4px
		border 0
		float right
		padding 15px 20px
		color white
		text-transform uppercase
		outline none
		cursor pointer
		margin-right 10px
	.file-bg
		margin 10px 0 15px
		input
			margin 0
	.bottom
		h2
			margin 15px 0
	// .custom-file-input::-webkit-file-upload-button
	// 	visibility hidden
	// .custom-file-input::before
	// 	content ''
	// 	display inline-block
	// 	background url('../img/upload.png')
	// 	background-size cover
	// 	width 20px
	// 	height 20px
	// 	border 0
	// 	top 3px
	// 	position absolute
	// 	right -35px
	// 	outline none
	// 	-webkit-user-select none
	// 	cursor pointer
	// .custom-file-input:hover::before
	// 	border-color black
	// .custom-file-input:active::before
	// 	background -webkit-linear-gradient(top, #e3e3e3, #f9f9f9)