#rooms
	padding 150px 0
	text-align center
	.rooms-content
		margin 0 auto
		width 800px
		clearfix()
	.button
		position relative
		top 0
		left 0
		text-decoration none
		margin-bottom 10px
		float right
	table
		margin 0 auto
		width 100%
		.footer
			td
				background #42a4a3
				text-align center
				padding 20px
				color white
				&:first-child
					border-radius 0 0 0 5px
				&:last-child
					border-radius 0 0 5px 0