#room-new
	padding 150px 0
	text-align center
	position relative
	.add-more
		position absolute
		top 250px
		right 60%
	.remove-input
		position absolute
		top 300px
		right 60%
	.save
		position absolute
		top 250px
		display block
		left 60%
		background #42a4a3
		color white
		width 100px
		height 40px
		line-height 40px
		text-align center
		cursor pointer
		outline none
		display block
		margin-top 20px
		border 0
		font-size 14px
		border-radius 5px
	.user-new-content
		width 500px
		margin 0 auto
	.repeat
		display block
		margin-bottom 15px
		&:last-child
			margin-bottom 0
	input, select
		background #dbe7ed
		border 0
		outline none
		height 35px
		line-height 35px
		box-sizing border-box
		padding 3px 10px
		border-radius 5px
		color #777d8b
		width 250px
		margin auto
	.enter
		background #42a4a3
		border-radius 4px
		border 0
		padding 9px 20px
		color white
		text-transform uppercase
		outline none
		cursor pointer
		margin-left 10px
	form
		margin auto
	label
		display inline-block
		margin-right 5px
		span
			display block
			text-align left
			font-size 14px
			color #6f7d8b
			margin-bottom 10px
		input
			display block
	.add-more, .remove-input
		background #42a4a3
		color white
		border-radius 100%
		width 40px
		height 40px
		line-height 40px
		text-align center
		cursor pointer
		outline none
		display block
		margin-top 20px
		border 0
		font-weight 600
		font-size 24px