#slide-images
	position relative
	width 100%
	height 100vh
	display none
	clearfix()
	.wrapper
		clearfix()
		position relative
	.carousel
		width 500px
		margin 0 auto
		.owl-controls
			position absolute
			top 175px
			width 100%
			.owl-prev
				position absolute
				left -50px
			.owl-next
				position absolute
				right -50px
			.owl-dots
				position absolute
				left 50%
				transform translateX(-50%)
				bottom -360px
				.owl-dot
					width 10px
					height 10px
					border-radius 100%
					background grey
					display block
					float left
					margin-right 10px
					&:last-child
						margin-right 0
					&.active
						background blue
	.top-content
		clearfix()
	.bottom
		width 500px
		margin 0 auto
		h2
			margin 15px 0
	.images
		clearfix()
		.highlight
			margin 0 auto
			width 500px
			clearfix()
			.image-box
				width 100%
				height 350px
		.thumbs-box
			float left
			.thumb
				margin-bottom 10px
				img
					cursor pointer
				&:last-child
					margin 0