#statistics-new
	clearfix()
	h2
		color #687391
		font-size 20px
	select
		width 175px
		height 35px
	input
		background #e4e7ef
		border-radius 5px
		color #687693
		outline none
		height 30px
		border 0
		width 175px
		padding 0 10px
		box-sizing border-box
	.content
		margin 0 auto
		width 500px
		padding 50px
		box-sizing border-box
		clearfix()
		.title-pdf
			width 100%
			margin-bottom 30px
			clearfix()
			.title
				float left
				margin 0
				font-size 32px
			.download-pdf
				float right
				margin-right 40px
				background #42a4a3
				cursor pointer
				padding 13px 20px
				border-radius 6px
				color white
				text-transform uppercase
				font-size 12px
		.tasks
			float left
			li
				color #687391
				font-size 14px
				line-height 3.5
		.percents
			line-height 2.3
			margin-bottom 20px
			li
				display inline-block
				width 8.5%
				color #687693
				text-align left
		.progress-bar-container
			margin-top 9px
			li
				margin-bottom 18.5px
		.progress-container
			margin-left 50px
			float left
	.save
		background #42a4a3
		border-radius 4px
		border 0
		float right
		padding 15px 20px
		color white
		text-transform uppercase
		outline none
		cursor pointer