#statistics
	clearfix()
	h2
		color #687391
		font-size 20px
	.left
		float left
		width 100%
		padding 50px
		box-sizing border-box
		padding-right 320px
		clearfix()
		.title-pdf
			width 100%
			margin-bottom 30px
			clearfix()
			.title
				float left
				margin 0
				font-size 32px
			.download-pdf
				float right
				margin-right 40px
				background #42a4a3
				cursor pointer
				padding 13px 20px
				border-radius 6px
				color white
				text-transform uppercase
				font-size 12px
		.tasks
			width 20%
			float left
			select
				width 100%
				height 35px
			li
				color #687391
				font-size 14px
				line-height 2.9
		.progress-bar-container
			li
				line-height 2.5
			.progress-bar
				z-index 6
				position relative
		.percents
			line-height 2.3
			margin-bottom 20px
			clearfix()
			li
				float left
				width 8.53%
				color #687693
				position relative
				text-align left
				&:first-child
					&:after
						display none
				&:first-child
					&:after
						left -1
				&:after
					position absolute
					left 0px
					top 30px
					border-right 1px dashed #E4E3E3
					height 542px
					z-index 5
					width 1px
					content ''
		.progress-container
			width 700px
			margin-left 50px
			float left
		
	.side-bar
		text-align center
		right 0
		top 0
		position absolute
		width 320px
		height 100%
		background #f9f9fa
		box-sizing border-box
		padding 0 10px
		border-left 2px solid #dbdee6
		.progress-circle-container
			position relative
			border-radius 100%
			background white
			width 175px
			margin 0 auto
			.percent-data
				position absolute
				left 50%
				top 50%
				transform translateX(-50%) translateY(-50%)
				font-weight 700
				color #687391
		.progress-circle
			margin-bottom 100px
			margin-top 25px
		.text
			h2
				margin-bottom 35px
			p
				height 130px
				overflow-y scroll
				width 100%
				color #687391
				font-size 14px
				padding 10px
				box-sizing border-box
				line-height 2
			::-webkit-scrollbar
				width 4px
			::-webkit-scrollbar-track
				background-color #d8d8d8
			::-webkit-scrollbar-thumb
				border-radius 5px
				background-color #42a4a3
			::-webkit-scrollbar-thumb:hover
				background-color #aaa