#user-new
	padding 150px 0
	text-align center
	.user-new-content
		width 700px
		margin 0 auto
	input, select
		background #e4e7ef
		border 0
		outline none
		height 35px
		line-height 35px
		box-sizing border-box
		padding 3px 10px
		border-radius 5px
		width 100%
		color #777d8b
	.enter
		background #42a4a3
		border-radius 4px
		border 0
		padding 9px 20px
		color white
		text-transform uppercase
		outline none
		cursor pointer
		margin-left 10px
	form
		margin-bottom 20px
		clearfix()
	label
		display inline-block
		width 50%
		padding 0 10px
		box-sizing border-box
		float left
		margin-bottom 10px
		span
			display block
			text-align left
			font-size 14px
			color #6f7d8b
			margin-bottom 10px
		input
			display block
	.add-more
		background #42a4a3
		color white
		border-radius 100%
		width 40px
		height 40px
		line-height 40px
		text-align center
		cursor pointer
		outline none
		display block
		margin-top 20px
		border 0
		font-weight 600
		font-size 24px