global-reset()

$acqua = #42a4a3

body
	background white
	font-family 'Open Sans'
	#content
		padding-top 70px


.show
	display block
.hidden
	display none

.image-box
	position relative
	width 250px
	height 250px
	overflow hidden
	img
		position absolute
		left 50%
		top 50%
		transform translateY(-50%) translateX(-50%)
		min-width 100%
		min-height 100%
		max-width 150%
.vertical-align
	position relative
	width 100%
	top 50%
	transform translateY(-50%)
.wrapper
	width 960px
	margin 0 auto

.center-box
	position absolute
	left 50%
	top 50%
	transform translateY(-50%) translateX(-50%)
h1
	&.title
		font-size 24px
		font-weight 300
		color #687391
		text-align center
		margin-bottom 60px
h2
	&.subtitle
		font-size 16px
		color #687391
		text-align center
		margin-top -30px
		margin-bottom 60px
.button
	position absolute
	top 250px
	display block
	left 60%
	background #42a4a3
	color #fff
	width 100px
	height 40px
	line-height 40px
	text-align center
	cursor pointer
	outline none
	display block
	margin-top 20px
	border 0
	font-size 14px
	border-radius 5px
select
	margin-bottom 18px
	background #f1f1f1
	border-color #acacac
	border-radius 5px
	color #3e3e3e
	font-weight 500
	outline none
	cursor pointer
	font-family 'Open Sans'
	padding 0 10px
table
	margin 0 auto
	th
		background #777d8b
		text-align center
		padding 20px
		color white
		&:first-child
			border-radius 5px 0 0 0
		&:last-child
			border-radius 0 5px 0 0
	td
		text-align center
		padding 23px 50px
		border-bottom 1px solid #e4e7ef
		background #efeff7
		color #9099b2
		font-size 14px
		a
			text-decoration none
			color #9099b2
			font-weight 500
		&:last-child
			a
				color #EF0F0F
input, textarea
	width 100%
	height 40px
	margin-bottom 10px
	display block
	box-sizing border-box
	outline none
	background #e4e7ef
	color #777d8b
	padding 0 10px
	font-family 'Open Sans'
	border-radius 4px
	border 1px solid transparent
	
.file-bg
	width 220px
	display block
	background #e4e7ef
	border 1px solid #c9ccd6
	border-radius 5px
	margin 0 auto
	height 35px
	margin-bottom 15px
	input
		background transparent !important
		border-color transparent !important
		position relative
		left -40px
		width 100%
.custom-file-input::-webkit-file-upload-button
		visibility hidden
.custom-file-input::before
	content ''
	display inline-block
	background url('../img/upload.png')
	background-size cover
	width 20px
	height 20px
	border 0
	top 3px
	position absolute
	right -35px
	outline none
	-webkit-user-select none
	cursor pointer
.custom-file-input:hover::before
	border-color black
.custom-file-input:active::before
	background -webkit-linear-gradient(top, #e3e3e3, #f9f9f9)